.profile-panel {
  margin-top: 36px;
  padding: 32px;
  padding-bottom: 80px;
}

.profile-panel h2 {
  border-bottom: 1px solid var(--line);
  font-family: "Noto Serif", serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
  padding-bottom: 16px;
}

.profile-panel .one-col {
  margin-bottom: 16px;
}

.profile-panel .two-col {
  margin-bottom: 16px;
}

.profile-panel {
  background: white;
  border: 1px solid var(--line);
  border-radius: 12px;
  box-shadow: var(--shadow);
}