.react-aria-Group {
	background: var(--bg);
	border: 1px solid #bec8ca;
	border-radius: 8px;
	color: var(--muted);
	min-height: 48px;
	padding: 0 16px;
	width: 100%;
	display: flex;
	align-items: center;
}

.react-aria-Button {
  margin-left: auto;
  border-radius: 8px;
  border: 1px solid #bec8ca;
  background: var(--bg);
  color: var(--muted);
}

.react-aria-DateInput {
  display: flex;
}

.react-aria-DateSegment {
  padding: 0 2px;

  &[data-type=literal] {
    padding: 0;
  }
}

.react-aria-RangeCalendar {
  --highlight-background: var(--teal);
  --highlight-foreground: white;

  & header {
    display: flex;
    align-items: center;
    margin: 0 4px .5rem 4px;

    .react-aria-Heading {
      flex: 1;
      margin: 0;
      text-align: center;
      font-size: 1.375rem;
    }
  }

  & table {
    border-collapse: collapse;

    & td {
      padding: 2px 0;
    }
  }

  .react-aria-CalendarCell {
    width: 2.286rem;
    line-height: 2.286rem;
    text-align: center;
    border-radius: 6px;
    cursor: default;
    outline: none;

    &[data-outside-month] {
      display: none;
    }

    &[data-selected] {
      background: var(--highlight-background);
      color: var(--highlight-foreground);
      border-radius: 0;

      &[data-focus-visible] {
        box-shadow: inset 0 0 0 1px var(--highlight-background), inset 0 0 0 3px var(--highlight-foreground);
      }
    }

    &[data-selection-start] {
      border-start-start-radius: 6px;
      border-end-start-radius: 6px;
    }

    &[data-selection-end] {
      border-start-end-radius: 6px;
      border-end-end-radius: 6px;
    }
  }
}

.react-aria-Popover {
  border: 1px solid #bec8ca;
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
  border-radius: 8px;
  background: var(--bg);
  padding: 0.7375rem;

  &[data-placement=top] {
    --origin: translateY(8px);
  }

  &[data-placement=bottom] {
    --origin: translateY(-8px);
  }

  &[data-entering] {
    animation: slide 200ms;
  }

  &[data-exiting] {
    animation: slide 200ms reverse ease-in;
  }
}

@keyframes slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}